.uploader.uploader-single {
    overflow: hidden;
    clear: both;
}

.uploader.uploader-single .uploader-preview {
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
}

.uploader.uploader-single .uploader-preview-delete {
    display: none;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    color: #ffffff;
}

.uploader.uploader-single .uploader-preview-delete-loading {
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #f38083;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
    color: #ffffff;
}

.uploader.uploader-single .uploader-preview-delete-loading span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    width: 21px;
    height: 21px;
    background: url("loading.gif") no-repeat;
}

.uploader.uploader-single .uploader-preview-delete span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
}

.uploader.uploader-single .uploader-preview:hover .uploader-preview-delete {
    display: block;
    background: #f38083;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
    cursor: pointer;
}

.uploader.uploader-single .uploader-preview {
    display: block;
}

.uploader.uploader-single .uploader-preview > span.uploader-preview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.uploader.uploader-single .uploader-preview > span.uploader-preview-wrapper,
.uploader.uploader-single .uploader-preview > span.uploader-preview-wrapper > canvas {
    display: block;
}

.uploader.uploader-single .uploader-preview .uploader-preview-placeholder {
    position: relative;
    display: block;
}

.uploader.uploader-single .uploader-preview .uploader-preview-placeholder.thumbnail {
    margin-bottom: 0;
}

.uploader.uploader-single .uploader-preview .uploader-preview-placeholder .uploader-preview-placeholder-wrapper {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: #eeeeee;
}

.uploader.uploader-single .uploader-preview .uploader-preview-placeholder .uploader-preview-placeholder-icon {
    display: table-cell;
    position: relative;
    width: 100%;
    height: 100%;
    color: #aaaaaa;
    text-align: center;
    vertical-align: middle;
}

.uploader.uploader-single .uploader-actions {
    display: block;
    margin-top: 10px;
}

.uploader.uploader-single .uploader-actions .uploader-browse {
    display: block;
    position: relative;
    overflow: hidden;
}

.uploader.uploader-single .uploader-actions .uploader-browse input {
    border: none;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 90%;
    width: 100%;
}

.uploader.uploader-single .uploader-actions .uploader-progress {
    display: none;
}

.uploader.uploader-single .uploader-actions .uploader-progress .progress {
    margin-bottom: 0 !important;
}

#modal-preview {
    text-align: center;
}

.uploader-preview-wrapper.thumbnail > div {
    width: 100% !important;;
}