.padder {
    padding-right: 15px;
    padding-left: 15px;
}

.padder-v {
    padding-top: 15px;
    padding-bottom: 15px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-l-xs {
    margin-left:5px
}
.m-l-sm {
    margin-left: 10px
}
.m-l {
    margin-left: 15px
}
.m-l-md {
    margin-left: 20px
}
.m-l-lg {
    margin-left: 30px
}
.m-l-xl {
    margin-left: 40px
}
.m-l-xxl {
    margin-left: 50px
}

.m-l-n-md {
    margin-left: -20px;
}

.b-l {
    border-left: 1px solid #dee5e7;
    border-left-color: rgb(222, 229, 231);
}

.b-info {
    border-color: #23b7e5;
}

.pos-rlt {
    position: relative;
}

.thumb,
.thumb-lg,
.thumb-md,
.thumb-sm,
.thumb-xl,
.thumb-xs,
.thumb-xxs {
    display: inline-block;
}

.thumb img,
.thumb-btn img,
.thumb-lg img,
.thumb-md img,
.thumb-sm img,
.thumb-xs img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.thumb-sm {
    width: 40px;
}

.avatar {
    position: relative;
}

.avatar,
.avatar img {
    border-radius: 500px;
}

.avatar img {
    width: 100%;
}

.arrow {
    z-index:10;
    border-width:9px
}

.arrow,
.arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}

.arrow:after {
    border-width:8px
}

.arrow.left {
    top:50%;
    left:-9px;
    margin-top:-9px;
    border-right-color:rgba(0,0,0,.1);
    border-left-width:0
}

.arrow::after {
    content: "";
}

.arrow.left:after {
    bottom:-8px;
    left:1px;
    border-right-color:#fff;
    border-left-width:0
}

.arrow.left.arrow-light:after {
    border-right-color:#edf1f2
}

.arrow.pull-left {
    left:19px
}

.arrow.pull-right {
    right:19px;
    left:auto
}

.arrow.pull-up {
    top:19px
}

.arrow.pull-down {
    top:auto;
    bottom:19px
}

.streamline {
    position: relative;
    border-color: #dee5e7;
}

streamline .sl-item::after, .streamline::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9px;
    height: 9px;
    margin-left: -5px;
    background-color: #fff;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    content: '';
}

.streamline > div:last-child > div {
    margin-bottom: 0;
}